.DDBJServiceList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.5rem;
  gap: 0.5em;
  list-style: none;
  align-items: center;
  height: 100%;
}

.DDBJServiceList__Item {
  padding: 0;
  margin: 0;
}

.DDBJServiceList__Link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  line-height: 1;
  padding: 0.25em 0.5em;
}

.DDBJServiceList__Link:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .DDBJServiceList {
    gap: 0.25em;
  }

  .DDBJServiceList__Link {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    line-height: 1;
    padding: 0.25em 0.25em;
  }
}
