.Footer {
  display: flex;
  flex-direction: column;
}

.Footer__Contents {
  padding: 2rem;
  background: url("/img/ddbj-footer-background.svg") repeat 50% 50%;
  background-size: 65px;
  background-attachment: fixed;
}

.Footer__CopyRight {
  color: white;
  background-color: rgba(28,27,25,.8);
  padding: 1rem;
}

.Footer__CopyRightBody {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
}
